extends layout

block content
  h1= title
  p#myline Welcome to #{title}
  div
    //- img(src="/images/business.png", class="img-responsive")
    table.table
      tr
        th Username
        th Email
        th Full name
        th Mobile
        th Actions
      tr
        td admin
        td admin@example.com
        td Office Admin
        td 8987198290
        td 
          a.btn.btn-warning(href="#") Edit
          a.btn.btn-danger(href="#") Delete

block footer
  p.txt-black &copy;Copyright By Shibaji Debnath


block styles
  style.
    #myline{
      color: red;
    }

block scripts
  script.
    // alert('Hello Guest');