doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block styles
  body
    include ../common/util.pug

    +adminmenu

    .container.bg-white
      block content

    .bg-secondary
      .container
        block footer

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    block scripts
  
